syntax: glob


# NOTE: Delete this and commit production-compiled assets before deploying
dist
# NOTE: Delete this to save 'lets' customization
ops/lets/config/settings.js

# Directories
_local
dist-dev
node_modules
site_media
CACHE
ops/tf/.terraform
tests/cypress/screenshots
tests/cypress/videos

# Files
*~
*.bak
*.db
*.kpf
*.old
*.pyc
*.retry
*.swp
*.tmproj
.vagrant
local_settings.py

# Mac stuff
.DS_Store

# Other SCM
.svn
.CVS
.hg*
