Django==1.5.1
Fabric==1.6.1
Pillow==2.0.0
South==0.8.1

bpython==0.11
django-compressor==1.3
django-debug-toolbar==0.9.4
django-extensions==1.1.1
djangorestframework==2.3.5
gunicorn==0.17.4
pdbpp==0.7.2
psycopg2==2.5
pytz==2013b
raven==3.3.9
