Django==3.1.3
Fabric==1.14.0
Pillow==8.0.1

bpython==0.20.1
django-debug-toolbar==3.1.1
django-extensions==3.0.9
django-localflavor==3.0.1
django-redis==4.12.1
django-rq==2.4.0
djangorestframework==3.12.2
gunicorn==20.0.4
notebook==6.1.5
pdbpp==0.10.2
pytest==6.1.2
pytest-django==4.1.0
psycopg2-binary==2.8.6
pytz==2020.4
redis==3.5.3
rq==1.6.1
sentry-sdk==0.19.3
