---
- name: Install site dependencies
  apt: name={{ item }} state=present
  with_items:
    - libffi-dev
    - libjpeg62-dev
    - libxml2-dev

- name: Add www-pub group
  group: name=www-pub state=present

- name: Add www-data user
  user: name=www-data group=www-pub state=present

- name: Add site user
  user: name={{ ansible_ssh_user }} group=www-pub state=present

- name: Create directory for virtualenvs
  file: path=/var/www/envs/ state=directory
        owner={{ ansible_ssh_user }} group=www-pub mode=0775

- include_tasks: nodejs.yml
- include_tasks: nginx.yml
- include_tasks: site.yml
