{% csrf_token %}
<script>
    // Based on code from: https://docs.djangoproject.com/en/dev/ref/contrib/csrf/
    function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie !== "") {
            var cookies = document.cookie.split(";");
            for (var i = 0; i < cookies.length; i++) {
                var cookie = cookies[i].trim();
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) === (name + "=")) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
    var csrftoken = getCookie("csrftoken");

    var csrfSafeMethod;
    csrfSafeMethod = function(method) {
    // these HTTP methods do not require CSRF protection
    return /^(GET|HEAD|OPTIONS|TRACE)$/.test(method);
    };
    window.setupCsrf = function() {
        $.ajaxSetup({
            // obviates need for sameOrigin test
            crossDomain: false,
            beforeSend: function(xhr, settings) {
                if (!csrfSafeMethod(settings.type)) {
                return xhr.setRequestHeader("X-CSRFToken", csrftoken);
                }
            }
        });
    };
    window.setupCsrf();
</script>
