{% load raven %}{% load static from staticfiles %}<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>{% block title %}{% endblock %}</title>

    <link rel="stylesheet" type="text/css" href="{% static "css/app.css" %}" />
    {% block css %}{% endblock %}
</head>
<body class="{% block body_class %}{% endblock %}">
    <div id="main-wrapper">
        {% block content %}{% endblock %}
    </div>

    {% if debug %}
        <script src="http://localhost:35729/livereload.js"></script>
    {% endif %}

    {% block prejs %}{% endblock %}
    <script src="{% static "js/global-deps.js" %}"></script>
    {% if not debug %}
    <script>Raven.config("{% sentry_public_dsn %}").install()</script>
    {% endif %}
    <script src="{% static "js/app.js" %}"></script>
    {% block js %}{% endblock %}
</body>
</html>
