[Unit]
Description={{ site_name }} web service

[Service]
Type=simple
Restart=on-failure
RestartSec=10

User=www-data
Group=www-pub

WorkingDirectory=/var/www/{{ site_name }}/{{ site_name }}/

ExecStart=/var/www/envs/{{ site_name }}/bin/gunicorn wsgi:application -c ops/workers/{{ env }}.py
ExecReload=/bin/kill -HUP $MAINPID

[Install]
WantedBy=multi-user.target
